# LOGSYS XC6SLX9-2TQG144C Demo Board FPGA pinout v1.0

# VccAUX voltage: 3.3V
CONFIG VCCAUX=3.3;

# 50 MHz clock source
NET clk            LOC=P55 | IOSTANDARD=LVCMOS33 | TNM_NET=tnm_clk50M;
TIMESPEC TS_clk50M = PERIOD tnm_clk50M 50000 kHz;

# Manual RST button (active low)
NET rstn           LOC=P67 | IOSTANDARD=LVCMOS33 | PULLUP | TIG;

# CPLD interface
NET cpld_rstn      LOC=P74  | IOSTANDARD=LVCMOS33;
NET cpld_clk       LOC=P78  | IOSTANDARD=LVCMOS33;
NET cpld_load      LOC=P80  | IOSTANDARD=LVCMOS33;
NET cpld_mosi      LOC=P81  | IOSTANDARD=LVCMOS33;
NET cpld_miso      LOC=P79  | IOSTANDARD=LVCMOS33;

# SPI interface
NET spi_sdcard_csn LOC=P75  | IOSTANDARD=LVCMOS33;
NET spi_flash_csn  LOC=P38  | IOSTANDARD=LVCMOS33;
NET spi_lcd_csn    LOC=P69  | IOSTANDARD=LVCMOS33;
NET spi_mosi       LOC=P64  | IOSTANDARD=LVCMOS33;
NET spi_miso       LOC=P65  | IOSTANDARD=LVCMOS33;
NET spi_clk        LOC=P70  | IOSTANDARD=LVCMOS33;

# PS/2 interface
NET ps2_data       LOC=P131 | PULLUP | IOSTANDARD=LVCMOS33;
NET ps2_clk        LOC=P132 | PULLUP | IOSTANDARD=LVCMOS33;

# VGA interface
NET vga_hs         LOC=P133 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_vs         LOC=P134 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_blue<0>    LOC=P137 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_blue<1>    LOC=P138 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_green<0>   LOC=P139 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33; 
NET vga_green<1>   LOC=P140 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_red<0>     LOC=P141 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_red<1>     LOC=P142 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;

# PWM (Piezoelectric buzzer)
NET pwm_out        LOC=P143 | DRIVE=4 | SLEW=FAST | IOSTANDARD=LVCMOS33;